@model InmobiliariaGutierrez.Models.ViewLogin

<h4>Acceso</h4>
<hr />




<div class="container"> 
        <div class="row">    
            <div class="col-5 card">
                <div class="row my-5">
                    <div class="row justify-content-md-center">
                        <div class="col col-md-auto">
                            <i class="bi bi-person"></i>
                        </div> 
                    </div>       
                    <div class="row justify-content-md-center">
                        <div class="col col-md-auto">
                            <h5 class="card-title">  
                                     Iniciar sesión
                            </h5> 
                        </div>
                    </div>    
                </div>              
                <div class="row"> 
                    <div class="col">
                        <form asp-controller="Usuario" asp-action="Login">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row justify-content-md-center">
                                    <div class="col-auto mt-3">
                                         <div class="form-group">
                                            <label asp-for="Usuario" class="control-label">
                                                <i class="bi bi-person"></i>
                                            </label>
                                        </div>
                                        <div class="col-auto mt-3">   
                                            <input asp-for="Usuario" class="form-control" />
                                            <span asp-validation-for="Usuario" class="text-danger"></span>                            
                                        </div>
                                    </div>
                                </div>    
                                <div class="row justify-content-md-center">
                                    <div class="col-auto mt-3">
                                         <div class="form-group">
                                            <label asp-for="Pass" class="control-label">
                                                <i class="bi bi-key" ></i>
                                            </label>
                                        </div>
                                        <div class="col-auto mt-3">    
                                            <input asp-for="Pass" class="form-control" />
                                            <span asp-validation-for="Pass" class="text-danger"></span>                            
                                        </div>                           
                                        
                                    </div>
                                </div>  
                                <div class="row justify-content-md-center  mt-3">
                                    <div class="col d-flex justify-content-center">                           
                                        <button type="submit" class="btn btn-outline-secondary " >Login</button>
                                    </div>
                                </div> 

                                <div class="row my-3 my-5">   
                                    <div class="col d-flex justify-content-start align-items-center">
                                       <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 202, 2, 126;">Forgot pass
                                          <i class="bi bi-arrow-bar-right"></i>
                                       </a>  
                                    </div>     
                                    <div class="col.d-flex.justify-content-end.align-items-center">
                                         <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 202, 2, 126;" asp-controller="Usuario" asp-action="Create"> 
                                                 Registrarme   
                                                 <i class="bi bi-arrow-bar-right"></i>
                                         </a>
                                    </div>
                                </div>             

                        </form>            
                    </div>    
                                                
                </div>
            
            </div>  
        </div>            

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

 