@model InmobiliariaGutierrez.Models.VO.Propietario
@{
	ViewData["Title"] = "Propietario";
	int id = Model == null? 0 : Model.Id;
}

<h4>Propietario</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form id="formulario" asp-action="Guardar" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Id" class="form-control" value="@id"  />
			<div class="form-group">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
            <div class="form-group">
				<label asp-for="Apellido" class="control-label"></label>
				<input asp-for="Apellido" class="form-control" />
				<span asp-validation-for="Apellido" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DNI" class="control-label"></label>
				<input asp-for="DNI" class="form-control" />
				<span asp-validation-for="DNI" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
            <div class="form-group">
				<label asp-for="Telefono" class="control-label"></label>
				<input asp-for="Telefono" class="form-control" />
				<span asp-validation-for="Telefono" class="text-danger"></span>
			</div>
			  <div class="form-group">
				<label asp-for="Domicilio" class="control-label"></label>
				<input asp-for="Domicilio" class="form-control" />
				<span asp-validation-for="Domicilio" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Guardar" class="btn btn-primary" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" onclick="nuevo()">Nuevo inmueble</button>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" onclick="actualizar()">Actualizar Inmueble</button>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Volver</a>
</div>
@section Scripts {
    <script>
        function nuevo() {
            var formulario = document.getElementById("formulario");
            formulario.action = "/Inmueble/NuevoInmueble";
            formulario.submit();
        }
		 function actualizar() {
            var formulario = document.getElementById("formulario");
            formulario.action = "/Inmueble/VerInmueble";
            formulario.submit();
        }
    </script>
}