html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.formularioContrato{
}

#imgPerfil{
  height:40px;width:40px;
  border-radius: 100%;
}

#flechaImgPerfil{
  position:absolute;
  right: -3px;
  bottom: -8px;
  color: #343a40;
  background-color: #e9ecef; /* Color de fondo gris */
  border-radius: 100%; /* Aplica un radio de borde para hacer un círculo */
}

.dropdown-toggle.dropdown-toggle-icon-none::after {
  display: none !important;
}