<table class="table table-hover table-sm align-middle table-responsive" >
        <thead class="table-dark">
            <tr>
				<th>ID</th>
                <th>propietario</th>
                <th>cantidad ambiente</th>
                <th>Tipo</th>
                <th>Dirección</th>
                <th>Precio base</th>
                <th>Uso</th>
                <th></th>
            </tr>
		</thead>
        <tbody id="bodyTabla">
            		  <tr id="registro">
            		      <td id="tdId">2</td>
            		      <td>
                            <p class="d-inline-flex gap-1">
                                 <button id="btnPropietario"
                                         type="button" 
                                         class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         aria-expanded="false" 
                                         > 
                                 </button>
                            </p>
                            <div class="collapse" 
                                 id="infoPersona">
                                <div class="card card-body">
                                    <p id="pDocumento"></p>
                                    <p id="pEmail"></p>
                                 </div> 
                            </div>
                            
                      </td>
                      <td id="cantidadAmbientes"> </td>
            		  <td id="inmuebleTipo"> </td>
            		  <td id="direccion"> </td>
            		  <td id="precioBase"> </td>
            		  <td id="uso"> </td>
            	</tr>           
		</tbody>
	</table>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="navUl">
           
        </ul>
</nav> 



  