@model InmobiliariaGutierrez.Models.VO.Contrato
<h4>Contrato</h4>
<div class="row">
  <div class="col-md-4">
    <form asp-action="Guardar" method="post">

           <div class="form-group">
              <label asp-for="FechaInicio" class="control-label"></label>
              <input asp-for="FechaInicio" class="form-control" />
              <span asp-validation-for="FechaInicio" class="text-danger"></span>  
          </div>
           <div class="form-group">
              <label asp-for="FechaFin" class="control-label"></label>
              <input asp-for="FechaFin" class="form-control" />
              <span asp-validation-for="FechaFin" class="text-danger"></span>  
          </div>
           <div class="form-group">
              <label asp-for="PrecioXmes" class="control-label"></label>
              <input asp-for="PrecioXmes" class="form-control" />
              <span asp-validation-for="PrecioXmes" class="text-danger"></span>  
          </div>
          <div class="form-group">
              <label asp-for="InquilinoId.Nombre" class="control-label">Nombre del inquilino</label>
              <input asp-for="InquilinoId.Nombre" class="form-control" />
              <span asp-validation-for="InquilinoId.Nombre" class="text-danger"></span>  
          </div>

      
    
      <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Volver</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}